{
  "extends": "airbnb",
  "rules": {
    "import/extensions":["off"],
    "linebreak-style":["off"],
    //"no-underscore-dangle": ["error", {"allow":["_id"]}],
    "no-underscore-dangle": "off",
    "no-param-reassign": ["error", { "props": false }],
    "no-console":["off"],
  }
}
